body {
    font-family: "PT Serif", serif;
}
h1 {
    text-align: center;
    margin: 50px 0 20px;
    font-size: 2.1rem;
}
h1 img {
    width: 40px;
}
h1 a {
    text-decoration: none;
    color: #166227;
}
/* Nav bar styling */
#navBar {
    padding:0;
    display: none;
}
#navBar li {
    list-style: none;
    border: solid 1px #fff;
    background-color: #e5d688;
    text-align: center;

}
#navBar li a {
    text-decoration: none;
    padding: 10px;
    color:#000;
    width: 100%;
    display: inline-block;
}
#navBtn, #navBtn img{
    width: 35px;
}
/* All Pages */
#mainSection {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
/* Index page */
#indexTopBgImg {
    max-width: 1000p ;
}
#indexTopBgImg img {
    width: 100%;
    height: auto;
}
.indexAmenities {
    padding: 0 2px 20px;
}
.indexAmenities div {
    max-width: 500px;
    margin: 0 auto;
}
.indexAmenities div img {
    width: 100%;
    height: auto;
}
.callToActionSec {
    border: solid 1px #eee;
    padding: 10px 2px 20px;
    margin: 5px 0;
    box-shadow: 5px 5px 5px #eee;
}
.callToActionSec a {
    text-decoration: none;
    background-color: #166227;
    color: #fff;
    display: inline-block;
    padding: 10px 0;
    width: 50%;
    border-radius: 3px;

}
/* Available Units Page */
.unitDisplay {
    margin: 5px 0;
    color: #343a47;
    padding: 10px 3px;
    box-shadow: 5px 4px 10px #ddd;
}
#unitSort, #unitFilter {
    background-color: #fff;
    border:solid 1px #6390f3;
    color: #6390f3;
    border-radius: 3px;
    padding: 10px;
    width: 100px;
    margin: 5px 10px;
}
#unitFilter {
    display: none; 
    /* bring back in future version */
}
#unitSort img {
    display: inline-block;
    width: 15px;
    height: 13px;
    margin-right: 5px;
}
#unitFilter img {
    display: inline-block;
    width: 15px;
    height: 13px;
    margin-right: 5px;
}
#unitSorting {
    padding: 0;
}
#unitSorting li {
    list-style: none;
    border-bottom: 1px solid #eee;
    padding: 10px;
}
#unitSorting li.sortEnabled::after {
    content: '▲';
    color: #6390f3;
    font-size: .70rem;
    transform: rotate(0deg);
    display: inline-block;
    width: 13px;
    height: 13px;
    padding: 0 0 1px 1px;
}
/* Unit list items */
.petTag {
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 5px;
    border: solid 1px #eee;
    padding: 5px;
    border-radius: 3px;
    background-color: #e5d688;
    opacity: .75;
    color: #343a47;

}
.unitInfo, .unitImg {
    min-height: 150px;
}
.unitInfo {
    padding: 5px 3px;
}
.unitInfo div {
    margin: 5px 0;
    text-align: left;
    padding: 0 10px;
}
.unitImg {
    width: 100%;
    position: relative;
}
.unitImg img {
    width: 100%;
}
/* Styling of Unit Info */
.wrap {
    display: flex;
    justify-content: space-around;
}
.unitRent {
    font-size: 1.5rem;
}
.unitStyleTag {
    border: solid 1px #ddd;
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
}
.btn {
    text-decoration: none;
    background-color:#166227;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 12px 7px;
    margin: 5px;
}
/* Footer */
footer {
    background-color: #eee;
    min-height: 30px;
}
#copyRef {
    text-align: center;
    padding: 20px;
}
#copyRef a {
    text-decoration: none;
    color: #6390f3;
}
@media screen and (min-width: 450px) {
    /* Nav bar styling */
    #unitSort {
        display: none;
    }
    #navBar, #unitSorting {
        display: flex;
        justify-content: space-around;
    }
    #navBar li {
        border-radius: 3px;
        width: 110px;
    }
    #navBar li a {
        font-size: .75rem;
        padding: 10px 0;
    }
    #navBtn img {
        display: none;
    }
    #unitSorting {
        border: solid 1px #6390f3;
        display: none;
    }
    #unitSorting li {
        border-right: solid 1px #6390f3;
        padding-right: 10px;
    }
    #unitSorting li:last-child {
        border: none;
    }
    #indexCTAWrap {
        display: flex;
    }
    #indexCTAWrap aside {
        width: 50%;
        background-color: #e5d688;
    }
}

@media screen and (min-width: 500px) {
    h1 {
        margin-bottom: 30px;
        font-size: 2.5rem;
    }
    #navBar {
        max-width: 1000px;
        margin: 0 auto 20px;

    }
    #navBar li {
        
        padding: 10px;
    }
    #navBar li a {
        font-size: 1rem;
        width: 100%;
        
    }
    #mainSection {
        max-width: 1000px;

    }
    .indexAmenities h4 {
        font-size: 1.2rem;
        color: #166227;
    }
    .indexAmenities div {
        display: flex;
    }
    .indexAmenities p {
        padding: 5px 2px 0 10px;
        text-align: left;
    }
}
@media screen and (min-width: 700px) {

    .unitDisplay {
        display: flex;
    }
    .unitDisplay:nth-child(even){
        flex-direction: row-reverse;
    }
    
}
@media screen and (min-width: 800px) { 
    #navBar li {
        width: 180px;
        margin: 0 2px;
    }
    .indexAmenityHolder {
        display: flex;
        justify-content: space-around;
        margin: 0 10px;
    }
}